* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000000;
    --color-gray-bg: #787878;
    --color-gray-line: #FAFAFA;
    --color-white: #FFFFFF;
    --color-white-secondary: #F1EEEE;
    --color-gray-primary: #F6F6F6;
    --color-green-primary: #3FBD8C;
    --font-main: "Montserrat", sans-serif;
}

/* --------------------------- HEADER --------------------------- */

html {
    font-family: var(--font-main);
}

.header_main {
    background-color: var(--color-black);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header_topbar-item {
    font-size: 13px;
    color: #fff;
    font-weight: 400;
}

.header_topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 12px;
}

.header_topbar-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.header_topbar-item {
    white-space: nowrap;
    padding: 10px 20px;
    min-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.carousel-control {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: var(--color-white);
}

.header_topbar-wrapper > .topbar_item02 {
    word-break: normal;
}

.topbar_middle-navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-gray-line);
    border-top: 1px solid var(--color-gray-line);
}

.topbar_middle-box01 {
    height: 65px;
    width: 33%;
}
.topbar_middle-box02 {
    height: 65px;
    width: 33%;
}
.topbar_middle-box03 {
    height: 65px;
    width: 33%;
}

.topbar_middle-box01 {
    display: flex;
    align-items: center;
}

.topbar_middle-box01-icon02,
.topbar_middle-box03-icon02 {
    margin: 0 20px;
}

.topbar_middle-box01-icon03 {
    background: transparent;
}

.topbar_middle-box01-search-bar {
    height: 35px;
    background: transparent;
    padding-left: 10px;
    width: 250px;
    border: 1px solid gray;
}

.container_search_bar {
    position: relative;
    display: inline-block;
}

.search_bar_icon {
    position: absolute;
    left: 220px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    --var-size: 15px;
    width: var(--var-size);
    height: var(--var-size);
}

.topbar_middle-box02 {
    background-image: url(https://s3.sa-east-1.amazonaws.com/s.tatuapeconceito.com.br/gallery/LOGOS/logo-tatuape-conceito-short.svg);
    background-repeat: no-repeat;
    display: flex;
    background-position: 50%;
}

.topbar_middle-box03 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.bottom_bar-search{
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_bar_box-title, 
.bottom_bar_box-seach-icon {
    width: 60px;
}

.bottom_bar-search-title {
    font-size: 16px;
    font-weight: bold;
}

.bottom_bar-search-bar {
    text-align: center;
    border: none;
    height: 52px;
}

.bottom_bar_box-seach-icon {
    display: flex;
    align-items: center;
    justify-content: end;
}

.bottom_bar-search-icon {
    width: 20px;
    height: 20px;
}

.bottom_bar-menu{
    height: 54px;
    padding-top: 18.5px;
}

.bottom_bar-menu-list {
    display: flex;
    justify-content: space-between;
}

.bottom_bar-menu-item a {
    text-decoration: none; 
    color: var(--color-white); 
    position: relative; 
    
}

.bottom_bar-menu-item a::after {
    content: '';
    position: absolute;
    left: -10px; 
    right: -10px;
    bottom: -16px; 
    height: 3px;
    background-color: white;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.bottom_bar-menu-item a:hover::after {
    opacity: 1; 
}

/* --------------- MEDIA QUERIES --------------- */

@media (min-width: 1280px) {
    .topbar_middle-navigation {
        padding: 12px 50px !important;
    }

    .topbar_middle-box01-icon01,
    .topbar_middle-box01-icon02 {
        display: none;
    }

    .bottom_bar-menu {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .bottom_bar-search {
        display: none;
    }
}

@media (max-width: 1279px) {
    .topbar_middle-box01-search-bar {
        display: none;
    }

    .search_bar_icon {
        display: none;
    }

    .topbar_middle-box03-icon01 {
        display: none; 
    }

    .bottom_bar-menu {
        display: none;
    }

    .topbar_middle-navigation {
        border-bottom: none;
    }  
}

@media (min-width: 1024px) {
    .header_topbar-wrapper {
        display: flex;
        transform: none !important;
    }

    .header_topbar-item {
        min-width: auto;
    }

    .carousel-control {
        display: none;
    }

    .header_topbar-wrapper > .topbar_item02 {
        border-left-color: var(--color-white);
        border-left-width: 1px;
        border-left-style: solid;
        border-right-color: var(--color-white);
        border-right-width: 1px;
        border-right-style: solid;
    }
}

@media (max-width: 1023px) {
    .carousel-control {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 50%;
    }

    .carousel-control.prev {
        left: 10px;
    }

    .carousel-control.next {
        right: 10px;
    }
}

@media (min-width: 480px) {
    .topbar_middle-navigation {
        padding: 12px 24px;
    }

    .bottom_bar-search {
        padding-left: 24px;
        padding-right: 24px;
    }

    .bottom_bar-menu {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 479px) {

    .topbar_middle-navigation {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 12px 12px;
    }

    .bottom_bar-search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .bottom_bar-menu {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* --------------------------- BANNER MAIN --------------------------- */

.banner_main {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.banner_main_carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.banner_main_carousel-item {
    min-width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.banner_main_carousel-prev, .banner_main_carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
}

.banner_main_carousel-prev {
    left: 10px;
    height: 39px;
    width: 29px;
}

.banner_main_carousel-next {
    right: 10px;
    height: 39px;
    width: 29px;
}

.carousel_slide_main {
    width: 102px;
    height: 86px;
    background-image: url(https://cdn.convertr.app.br/5063/img/logo-tatuape-conceito.3d36291.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000000;
}

.banner_main_carousel-item.slide_info01 {
    background-color: var(--color-gray-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_main_carousel-item > .banner_image02, 
.banner_main_carousel-item > .banner_image03,
.banner_main_carousel-item > .banner_image04 {
    height: 300px;
}

.banner_main_info_description-primary-main{ 
    font-size: 32px;
    font-weight: 700;
    color: var(--color-white);
    margin: 5px 0;
}

.banner_main_info_description-secondary-title {
    color: var(--color-white);
    margin: 5px 0;
}

.banner_main_info_purchase-button {
    padding: 20px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

/* --------------------------- SECÇÃO COMPRAS POR CATEGORIA --------------------------- */

.category_top-title {
    font-size: 20px;
    font-weight: 700;
}

.category_slider_side-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.category_slider_side {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    will-change: transform;
}

.category_slider_side-item {
    list-style: none;
    margin: 0 10px;
    min-width: 250px; /* Largura mínima de cada item */
    flex-shrink: 0;
}

.category_image_purchase-container {
    width: 250px;
}

.category_slider_side-image {
    width: 100%;
}

.category_slider_side-button {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    position: relative;
    top: -46px;
    left: 123px;
    cursor: pointer;
}

.category_slider_side_subtitle {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-black);
    position: relative;
    top: -28px;
}

/* Botões de navegação */
.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    z-index: 5;
}

.slider-nav.prev {
    left: 10px;
    height: 39px;
    width: 29px;
}

.slider-nav.next {
    right: 10px;
    height: 39px;
    width: 29px;
}

@media (min-width: 720px){
    .category_top {
        padding: 25px;
        text-align: start;
    }
}

@media (max-width: 719px){
    .category_top {
        padding: 25px;
        text-align: center;
    }
}

/* --------------------------- SECÇÃO DE LOG DAS MARCAS --------------------------- */

.brand_container {
    margin: 16px 0;
}

.brand_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
}

.brand_item {
    list-style-type: none;
}

.brand_image {
    width: 110px;
}

.brand_image {
    opacity: 0.5; /* A imagem fica opaca por padrão */
    transition: opacity 0.3s ease; /* Suaviza a transição ao passar o mouse */
}

.brand_item:hover .brand_image {
    opacity: 1; /* Remove a opacidade quando o mouse está sobre a imagem */
}

/* --------------- SECÇÃO ESPECIFICA DE UM DETERMINADO PRODUTO DE UMA DETERMINADA MARCA -------------------- */

.specific_brand_product {
    background-color: var(--color-gray-primary);
}

.specific_brand {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.specific_brand_item_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand_logo_monkey {
    width: 70px;
}

.brand_logo_vertical_line {
    width: 20px;
    height: 100px;
}

.brand_logo_manufacture {
    width: 145px;
}

.specific_brand_info_purchase {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.specific_brand_title {
    font-size: 30px;
    padding: 12px 0;
    font-weight: 900;
}

.specific_brand_description {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
}

.specific_brand_purchase_now {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}

.specific_product {
    display: flex;
    justify-content: center;
}

.specific_product_image {
    width: 100%;
    max-width: 560px;
    margin: 24px 0;
}

@media (min-width: 800px){
    .specific_brand_product {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .specific_brand,
    .specific_product {
        width: 50%;
    }
}

@media (max-width: 419px) {
    .specific_brand_title {
        font-size: 24px;
    }
}

/* --------------------------- SECÇÃO DE PRODUTOS RECOMENDADOS PARA VOCE --------------------------- */

.recommended_products_top-title {
    font-size: 20px;
    padding: 25px;
    font-weight: 700;
}

.recommended_products_slider_side-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.recommended_products_slider-nav-prev {
    left: 10px;
    height: 39px;
    width: 29px;
}

.recommended_products_slider-nav-next {
    right: 10px;
    height: 39px;
    width: 29px;
}

.recommended_products_list {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    will-change: transform;
}

.recommended_products_item{
    list-style: none;
    margin: 0 10px;
    min-width: 250px; /* Largura mínima de cada item */
    flex-shrink: 0;
}

.recommended_products_item_image {
    width: 250px !important; 
    height: 425px;
}

.recommended_products_item_image > .recommended_item_image {
    width: 100%;
}

.recommended_product_title {
    font-size: 12PX;
    color: var(--color-black);
    font-weight: 600;   
}

.recommended_product_prices {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 5px 0;
}

.recommended_product_new_price {
    font-weight: 700;
    margin-right: 5px;
}

.recommended_product_old_price {
    font-weight: 500;
    margin-right: 5px;
    text-decoration: line-through;
}

.recommended_product_installment_price {
    font-weight: 500;
    margin-right: 5px;
}

.recommended_product_other_information {
    font-size: 14px;
    font-weight: 600;
}

.recommended_product_other_information > span{
    font-weight: 700;
    color: rgb(11, 211, 11);
}

.recommended_product_plus_information {
    font-size: 12px;
    font-weight: 600;
    padding-top: 4px;
}

.recommended_product_discount_favorite {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    top: -430px;
}

.product_discount_title {
    color: white;
    background-color: black;
    padding: 6px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 6px;
}

.product_discount_percentage {
    color: white;
    background-color: green;
    padding: 6px;
    font-size: 10px;
    text-align: center;
}

.product_favorite-icon {
    cursor: pointer
}

.recommended_product_purchase_options {
    width: 250px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -266px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.recommended_products_item_image:hover .recommended_product_purchase_options {
    opacity: 1;
    transform: translateY(0);
}

.recommended_product_options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.recommended_product_options_container {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 5px;
}

.recommended_product_purchase-btn {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}

.recommended_products_slider-nav-prev,
.recommended_products_slider-nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    z-index: 5;
}

.recommended_products_slider-nav-prev {
    left: 10px;
}

.recommended_products_slider-nav-next {
    right: 10px;
}

@media (min-width: 720px){
    .recommended_products_top-title {
        text-align: start;
    }
}

@media (max-width: 719px){
    .recommended_products_top-title {
        text-align: center;
    }
}

/* --------------------------- SECÇÃO SHOP NOW --------------------------- */

.shop_now_area {
    background-color: #F1EEEE;
    margin: 30px 0;
}

.shop_now_image {
    width: 100%;
}

.shop_now_container_image {
    width: 50%;
    display: flex;
    align-items: center;
}

.shop_now_container_descriptions {
    padding: 15px;
    background-image: url(../images/monkey_white.svg);
    background-repeat: no-repeat;
    background-size: max(50%, 150px) max(50%, 150px); 
    background-position: left bottom;
    width: 50%;
    height: 100% !important;
    max-height: 443.98px;
    background-color: #F1EEEE;
}

.shop_now_information {
    width: 100%;
    max-width: 470px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.shop_now_brand_fundation {
    font-weight: 500;
    letter-spacing: 2px;
}

.shop_now_brand_title {
    font-size: 30px;
    padding: 12px 0;
    font-weight: 900;
}

.shop_now_brand_description{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
}

.shop_now_brand_purchase_now {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}

@media (min-width: 800px){
    .shop_now_area {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
}

@media (max-width: 799px) {
    .shop_now_container_image,
    .shop_now_container_descriptions {
        width: 100%;
    }
}

/* @media (max-width: 460px) {
    .shop_now_information {
        margin: 16px auto;
    }
}

@media (max-width: 420px) {
    .shop_now_information {
        margin: 12px auto;
    }
} */

@media (max-width: 419px) {
    .shop_now_brand_title {
        font-size: 24px;
    }
}

/* --------------------------- SECÇÃO MAIS VENDIDOS --------------------------- */

.best_sellers {
    background-color: var(--color-white-secondary);
}

.best_sellers_top-title {
    font-size: 20px;
    padding: 25px;
    font-weight: 700;
}

.best_sellers_slider_side-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.best_sellers_slider-nav-prev {
    left: 10px;
    height: 39px;
    width: 29px;
}

.best_sellers_slider-nav-next{
    right: 10px;
    height: 39px;
    width: 29px;
}

.best_sellers_slider-nav-prev,
.best_sellers_slider-nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    z-index: 5;
}

.best_sellers_list {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    will-change: transform;
}

.best_sellers_item {
    list-style: none;
    margin: 0 10px;
    min-width: 250px; /* Largura mínima de cada item */
    flex-shrink: 0;
}

.best_sellers_item_image {
    width: 250px !important; 
    height: 425px;
}

.best_sellers_item_image > .best_sellers_image {
    width: 100%;
}

.best_sellers_title {
    font-size: 12PX;
    color: var(--color-black);
    font-weight: 600;   
}

.best_sellers_prices {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 5px 0;
}

.best_sellers_new_price {
    font-weight: 700;
    margin-right: 5px;
}

.best_sellers_old_price {
    font-weight: 500;
    margin-right: 5px;
    text-decoration: line-through;
}

.best_sellers_installment_price {
    font-weight: 500;
    margin-right: 5px;
}

.best_sellers_other_information {
    font-size: 14px;
    font-weight: 600;
}

.best_sellers_other_information > span{
    font-weight: 700;
    color: rgb(11, 211, 11);
}

.best_sellers_plus_information {
    font-size: 12px;
    font-weight: 600;
    padding-top: 4px;
}

.best_sellers_discount_favorite {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    top: -430px;
}

.best_sellers_discount_title {
    color: white;
    background-color: black;
    padding: 6px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 6px;
}

.best_sellers_percentage {
    color: white;
    background-color: green;
    padding: 6px;
    font-size: 10px;
    text-align: center;
}

.best_sellers_favorite-icon {
    cursor: pointer
}

.best_sellers_purchase_options {
    width: 250px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -266px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.best_sellers_item_image:hover .best_sellers_purchase_options {
    opacity: 1;
    transform: translateY(0);
}

.best_sellers_options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.best_sellers_ptions_container {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 5px;
}

.best_sellers_purchase-btn {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}


@media (min-width: 720px){
    .best_sellers_top-title {
        text-align: start;
    }
}

@media (max-width: 719px){
    .best_sellers_top-title{
        text-align: center;
    }
}

/* --------------------------- ÓCULOS --------------------------- */

.sunglasses_top-title {
    font-size: 20px;
    padding: 25px;
    font-weight: 700;
}

.sunglasses_slider_side-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.sunglasses_slider-nav-prev {
    left: 10px;
    height: 39px;
    width: 29px;
}

.sunglasses_slider-nav-next{
    right: 10px;
    height: 39px;
    width: 29px;
}

.sunglasses_slider-nav-prev,
.sunglasses_slider-nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    z-index: 5;
}

.sunglasses_list {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    will-change: transform;
}

.sunglasses_item {
    list-style: none;
    margin: 0 10px;
    min-width: 250px; /* Largura mínima de cada item */
    flex-shrink: 0;
}

.sunglasses_item_image {
    width: 250px !important; 
    height: 425px;
}

.sunglasses_item_image > .sunglasses_image {
    width: 100%;
}

.sunglasses_title {
    font-size: 12PX;
    color: var(--color-black);
    font-weight: 600;   
}

.sunglasses_prices {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 5px 0;
}

.sunglasses_new_price {
    font-weight: 700;
    margin-right: 5px;
}

.sunglasses_old_price {
    font-weight: 500;
    margin-right: 5px;
    text-decoration: line-through;
}

.sunglasses_installment_price {
    font-weight: 500;
    margin-right: 5px;
}

.sunglasses_other_information {
    font-size: 14px;
    font-weight: 600;
}

.sunglasses_other_information > span{
    font-weight: 700;
    color: rgb(11, 211, 11);
}

.sunglasses_plus_information {
    font-size: 12px;
    font-weight: 600;
    padding-top: 4px;
}

.sunglasses_discount_favorite {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    top: -430px;
}

.sunglasses_discount_title {
    color: white;
    background-color: black;
    padding: 6px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 6px;
}

.sunglasses_percentage {
    color: white;
    background-color: green;
    padding: 6px;
    font-size: 10px;
    text-align: center;
}

.sunglasses_favorite-icon {
    cursor: pointer
}

.sunglasses_purchase_options {
    width: 250px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -285px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sunglasses_item_image:hover .sunglasses_purchase_options {
    opacity: 1;
    transform: translateY(0);
}

.sunglasses_options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.sunglasses_ptions_container {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 5px;
}

.sunglasses_purchase-btn {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}


@media (min-width: 720px){
    .sunglasses_top-title {
        text-align: start;
    }
}

@media (max-width: 719px){
    .sunglasses_top-title{
        text-align: center;
    }
}

/* --------------------------- SECÇÃO DE PERFUMES --------------------------- */

.fragrance_top-title {
    font-size: 20px;
    padding: 25px;
    font-weight: 700;
}

.fragrance_slider_side-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.fragrance_slider-nav-prev {
    left: 10px;
    height: 39px;
    width: 29px;
}

.fragrance_slider-nav-next{
    right: 10px;
    height: 39px;
    width: 29px;
}

.fragrance_slider-nav-prev,
.fragrance_slider-nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    z-index: 5;
}

.fragrance_list {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    will-change: transform;
}

.fragrance_item {
    list-style: none;
    margin: 0 10px;
    min-width: 250px; /* Largura mínima de cada item */
    flex-shrink: 0;
}

.fragrance_item_image {
    width: 250px !important; 
    height: 425px;
}

.fragrance_item_image > .fragrance_image {
    width: 100%;
}

.fragrance_title {
    font-size: 12PX;
    color: var(--color-black);
    font-weight: 600;   
}

.fragrance_prices {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 5px 0;
}

.fragrance_new_price {
    font-weight: 700;
    margin-right: 5px;
}

.fragrance_old_price {
    font-weight: 500;
    margin-right: 5px;
    text-decoration: line-through;
}

.fragrance_installment_price {
    font-weight: 500;
    margin-right: 5px;
}

.fragrance_other_information {
    font-size: 14px;
    font-weight: 600;
}

.fragrance_other_information > span{
    font-weight: 700;
    color: rgb(11, 211, 11);
}

.fragrance_plus_information {
    font-size: 12px;
    font-weight: 600;
    padding-top: 4px;
}

.fragrance_discount_favorite {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    top: -430px;
}

.fragrance_discount_title {
    color: white;
    background-color: black;
    padding: 6px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 6px;
}

.fragrance_percentage {
    color: white;
    background-color: green;
    padding: 6px;
    font-size: 10px;
    text-align: center;
}

.fragrance_favorite-icon {
    cursor: pointer
}

.fragrance_purchase_options {
    width: 250px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -266px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fragrance_item_image:hover .fragrance_purchase_options {
    opacity: 1;
    transform: translateY(0);
}

.fragrance_options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.fragrance_ptions_container {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 5px;
}

.fragrance_purchase-btn {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}


@media (min-width: 720px){
    .fragrance_top-title {
        text-align: start;
    }
}

@media (max-width: 719px){
    .fragrance_top-title{
        text-align: center;
    }
}

/* --------------------------- SECÇÃO DE ACCESSÓRIOS  --------------------------- */

.accessories {
    background-color: var(--color-black);
}

.accessories_top_title_container {
    padding: 25px;
}

.accessories_top-title {
    font-size: 20px;
    /* padding: 25px; */
    font-weight: 700;
    color: var(--color-white);
}

.accessories_slider_side-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.accessories_slider-nav-prev {
    left: 10px;
    height: 39px;
    width: 29px;
}

.accessories_slider-nav-next{
    right: 10px;
    height: 39px;
    width: 29px;
}

.accessories_slider-nav-prev,
.accessories_slider-nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    z-index: 5;
}

.accessories_list {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    will-change: transform;
}

.accessories_item {
    list-style: none;
    margin: 0 10px;
    min-width: 250px; /* Largura mínima de cada item */
    flex-shrink: 0;
}

.accessories_item_image {
    width: 250px !important; 
    height: 425px;
}

.accessories_item_image > .accessories_image {
    width: 100%;
}

.accessories_title {
    font-size: 12PX;
    color: var(--color-white-secondary);
    /* font-weight: 600;    */
}

.accessories_prices {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 5px 0;
    color: var(--color-white);
}

.accessories_new_price {
    font-weight: 700;
    margin-right: 5px;
}

.accessories_old_price {
    /* font-weight: 500; */
    margin-right: 5px;
    text-decoration: line-through;
    color: var(--color-white-secondary);
}

.accessories_installment_price {
    /* font-weight: 500; */
    margin-right: 5px;
    color: var(--color-white-secondary);
}

.accessories_other_information {
    font-size: 14px;
    /* font-weight: 600; */
    color: var(--color-white);
}

.accessories_other_information > span{
    font-weight: 700;
    color: rgb(11, 211, 11);
}

.accessories_plus_information {
    font-size: 12px;
    /* font-weight: 600; */
    padding-top: 4px;
    color: var(--color-white-secondary);
}

.accessories_discount_favorite {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    top: -430px;
}

.accessories_discount_title {
    color: white;
    background-color: black;
    padding: 6px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 6px;
}

.accessories_percentage {
    color: white;
    background-color: green;
    padding: 6px;
    font-size: 10px;
    text-align: center;
}

.accessories_favorite-icon {
    cursor: pointer
}

.accessories_purchase_options {
    width: 250px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -266px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.accessories_item_image:hover .accessories_purchase_options {
    opacity: 1;
    transform: translateY(0);
}

.accessories_options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.accessories_ptions_container {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 5px;
}

.accessories_purchase-btn {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}

@media (min-width: 1024px) {
    .accessories {
        display: flex;
        align-items: center;
        padding: 30px 0;
    }

    .accessories_top {
        width: 40%;
        max-width: 480px;
    }

    .accessories_top_title_container {
        /* text-align: center !important; */
        width: 350px;
        margin: 0 auto;
    }

    .accessories_slider_side-container {
        width: 60%;
    }

    .accessories_top-title {
        font-size: 37px;
    }
}


@media (min-width: 720px){
    .accessories_top_title_container {
        text-align: start;
    }
}

@media (max-width: 719px){
    .accessories_top_title_container {
        text-align: center;
    }
}

/* --------------------------- SECÇÃO DE AVALIAÇOES DOS CLIENTES  --------------------------- */

.client_feedback {
    height: 370px;
}

.client_feedback_top {
    margin-bottom: 40px;
}

.client_feedback_top-primary-title {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 12px;
}

.client_feedback_list {
    display: flex;
    align-items: baseline;
    gap: 15px;
    transition: transform 0.5s ease; /* Transição suave ao deslizar */
    overflow: hidden; /* Esconde os itens fora da área visível */
}

.client_feedback_item {
    list-style-type: none;
    
}

.client_feedback_star {
    margin-bottom: 24px;
}

.client_feedback_complete_name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.client_feedback_message {
    font-size: 14px;
    font-weight: 500;
}

.client_feedback_container {
    width: 100%; /* Garantir que o conteúdo do item preencha o espaço corretamente */
}

@media (min-width: 768px) {
    .client_feedback {
        padding: 80px;
    }

    .client_feedback_container {
        width: 296.5px !important;
    }
}

@media (max-width: 767px) {
    .client_feedback_container {
        width: 250px !important;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    .client_feedback {
        padding: 40px;
    }

}

@media (max-width: 419px){
    .client_feedback {
        padding: 25px;
    }

}

/* --------------------------- SECÇÃO ARTISTA PRODUTO --------------------------- */

.artist_area {
    background-color: #F1EEEE;
    margin-top: 30px;
}

.artist_image {
    width: 100%;
}

.artist_container_image {
    width: 50%;
    display: flex;
    align-items: center;
}

.artist_container_descriptions {
    padding: 30px 15px;
    width: 50%;
    background-color: #F1EEEE;
    height: 350px;
}

.artist_information {
    width: 100%;
    max-width: 470px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.artist_brand_fundation {
    font-weight: 500;
    letter-spacing: 2px;
}

.artist_brand_title {
    font-size: 30px;
    padding: 12px 0;
    font-weight: 900;
}

.artist_brand_description{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
}

.artist_brand_purchase_now {
    padding: 14px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(64, 64, 64, 1));
    color: var(--color-white);
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    width: 140px;
}

.artist_container_additional_information {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.artist_container_additional_information_image {
    width: 70px;
    height: 59px;
    align-self: center;
    margin: 20px 0 10px 0;
}

.artist_container_additional_information_brand_first_name {
    font-weight: 800;
    letter-spacing: 2px;
}

.artist_container_additional_information_brand_secondary_name {
    font-weight: 600;
    margin-bottom: 30px;
}

.artist_container_additional_information_primary_message {
    margin-bottom: 30px;
}

.artist_container_additional_information_primary_message,
.artist_container_additional_information_secondary_message {
    font-size: 12px;
}

@media (min-width: 1024px){
    .artist_container_additional_information {
        width: 750px ;
    }
}

@media (min-width: 800px) and (max-width: 1023px) {
    .artist_container_additional_information {
        width: 700px;
    }
}

@media (min-width: 800px){
    .artist_area {
        display: flex;
        align-items: center;
        /* flex-direction: row-reverse; */
    }
}

@media (max-width: 799px) {
    .artist_container_image,
    .artist_container_descriptions {
        width: 100%;
    }

    .artist_container_additional_information {
        max-width: 500px;
    }
}

@media (max-width: 419px) {
    .artist_brand_title {
        font-size: 24px;
    }
}

/* --------------------------- SECÇÃO NEWSLETTER --------------------------- */

.newsletter {
    background-color: var(--color-black);
    margin: 30px 0 0 0;
}

.newsletter_container {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
}

.newsletter_title {
    color: var(--color-white);
    margin: 30px 0;
}

.newsletter_user_name,
.newsletter_user_email {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.newsletter_complente_name, 
.newsletter_complete_email {
    height: 30px;
    border: none;
    border-bottom: 1px solid #aaa;;
    background: transparent;
    color: white;
}

.newsletter_complente_name::placeholder,
.newsletter_complete_email::placeholder {
    text-align: center;
    color: #aaa;
}

.newsletter_promotions_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.newsletter_user_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter_checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    background: transparent !important;
    cursor: pointer;
}

.newsletter_message_information {
    color: #aaa;
    font-size: 12px;
    margin-left: 15px;
}

.newsletter_subscribe_button {
    height: 40px;
    width: 120px;
    margin: 0 auto 30px auto;
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.newsletter_success_message {
    display: none;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    font-size: 14px;
    padding: 10px;
}

.newsletter_error_message_complete_name,
.newsletter_error_message_complete_email,
.newsletter_error_message_checkbox {
    color: red;
    font-size: 12px;
    margin: 5px 0;
}

@media (min-width: 480px) {
    .newsletter_title {
        font-size: 16px;
    } 
}


@media (max-width: 479px) {
    .newsletter_title {
        font-size: 12px;
    }
}

/* ------------------------- SECÇAO FOOTER CONTATO -------------------------- */

.contact_us {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 100%;
}

.contact_us_container{
    cursor: pointer;
    padding: 16px;
    border-bottom: 1px solid #c4c4c4;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_us_container_title {
    font-size: 14px;
    margin: 0 auto;
}

.contact_us_fixed,
.contact_us_arrow_icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_us_content {
    display: none;
}

.contact_us_content_item {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e3dfdc;
}

.contact_us_content_item > p {
    font-size: 14px;
    cursor: pointer;
}

.contact_us_content_item > p:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-black);
}

@media (min-width: 480px) {
    .contact_us {
        display: none !important;
    }

    .talk_to_us {
        display: block;
    }
}

/* ------------------------------ SUB-SECÇÃO TALK TO US -------------------------------- */

@media (min-width: 1080px) {
    .talk_to_us {
        padding: 70px 40px !important;
    }
}

@media (max-width: 479px) {
    .talk_to_us {
        display: none !important;
    }
}

.talk_to_us {
    width: 100%;
    padding: 40px 14px;
    background-color: #f5f5f5;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 20px;
    gap: 20px;
}

.talk_to_us_container01 {
    max-width: 240px;
}

.talk_to_us_container02 {
    max-width: 140px;
}

.talk_to_us_container03 {
    max-width: 125px;
}

.talk_to_us_container04 {
    max-width: 270px;
}

.talk_to_us_container05 {
    max-width: 195px;
}

.talk_to_us_container06 {
    max-width: 255px;
}

.talk_to_us_container01,
.talk_to_us_container02,
.talk_to_us_container03,
.talk_to_us_container04,
.talk_to_us_container05,
.talk_to_us_container06 {
    margin-bottom: 20px;
}

.talk_to_us_container01-title,
.talk_to_us_container02-title,
.talk_to_us_container03-title,
.talk_to_us_container04-title {
    font-size: 14px;
    margin-bottom: 12px;
}

.talk_to_us_container01-list,
.talk_to_us_container02-list,
.talk_to_us_container03-list,
.talk_to_us_container04-list,
.talk_to_us_container05-list,
.talk_to_us_container06-list {
    list-style-type: none;
}

.talk_to_us_container01-item,
.container02_item01,
.container02_item02,
.container02_item03,
.container03_item01,
.container03_item02,
.container03_item03,
.container04_item01,
.container04_item02,
.container04_item03 {
    font-size: 12px;
    font-weight: 500;
}

.container01_item01,
.container01_item04,
.container02_item01,
.container02_item02,
.container02_item03,
.container03_item01,
.container03_item02,
.container03_item03,
.container04_item01,
.container04_item02,
.container04_item03 {
    margin-bottom: 10px;
}

.talk_to_us_container05-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.talk_to_us_container05-item > p {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.talk_to_us_container06-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.talk_to_us_container06-item > img {
    width: 50px
}

.container06-main {
    margin-top: 24px;
}

.container06-main-box01 {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container06-main-box02 {
    margin-top: 24px;
}

.container06-main-box02-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* ------------ METODOS DE PAGAMENTO E SEGURANÇA PARA TELA MOBILE ------------------ */

.contact_us_payments,
.contact_us_security {
    padding: 40px 20px;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
}

.contact_us_payments > h3,
.contact_us_security > h3 {
    margin-bottom: 40px;
}

.contact_us_payments-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.contact_us_payments-item-image {
    width: 50px;
}

.registered_brand {
    padding: 40px 20px;
    border-bottom: 1px solid #c4c4c4;
    background-color: #f5f5f5;
}

.registrered_brand_title {
    font-size: 12px;
}

.registrered_brand_image {
    width: 100px;
    height: 20px;
    align-self: center;
}

@media (min-width: 1024px) {
    .registered_brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .registrered_brand_title {
        margin-right: 50px;
    }
}

@media (max-width: 1023px) {
    .registered_brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .registrered_brand_title {
        margin-bottom: 30px;
    }
}

